body {
    margin: 0;
    background-color: black;
    padding-top: 3rem;
}

.container {
    height: auto;
    width: 100%;
    height: 55rem;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.slider {
    height: 40rem;
    width: 500%;

    display: flex;
    align-items: center;

    transition: 0.4s ease-in;
}

.slider-text {
    height: 10rem;
}

.meme-description {
    color: white;
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.image-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.meme-img {
    height: 100%;
}

.navigator {
    height: 1.5rem;
    display: flex;
    right: 1rem;
    align-self: center;
}

.navigator .bar {

    background-color: lightyellow;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 0.2rem solid black;
    height: 100%;
    margin-left: 1rem;
    cursor: pointer;
}

input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.navigator .bar:hover {
    background-color: yellow;
}

.navigator .bar:active {
    background-color: green;
}

#btn1:checked~.slider {
    margin-left: 0;
}

#btn2:checked~.slider {
    margin-left: -100%;
}

#btn3:checked~.slider {
    margin-left: -200%;
}

#btn4:checked~.slider {
    margin-left: -300%;
}

#btn5:checked~.slider {
    margin-left: -400%;
}

#btn1:checked~.navigator #btn1-label {
    background-color: transparent;
    border: 2px solid lightyellow;
}

#btn2:checked~.navigator #btn2-label {
    background-color: transparent;
    border: 2px solid lightyellow;
}

#btn3:checked~.navigator #btn3-label {
    background-color: transparent;
    border: 2px solid lightyellow;
}

#btn4:checked~.navigator #btn4-label {
    background-color: transparent;
    border: 2px solid lightyellow;
}

#btn5:checked~.navigator #btn5-label {
    background-color: transparent;
    border: 2px solid lightyellow;
}

@media (max-width: 1200px) {
    .container {
        height: 45rem;
    }

    .slider {
        height: 30rem;
    }

    .slider-text {
        height: 5rem;
    }
    .meme-description {
        font-size: 3rem;
    }

    .navigator .bar {
        height: 1rem;
        width: 1rem;
    }
}
@media (max-width: 900px) {
    body {
        padding-top: 1rem;
    }
    .container {
        height: 35rem;
    }

    .slider {
        height: 20rem;
    }

    .slider-text {
        height: 3rem;
    }
    .meme-description {
        font-size: 2rem;
    }

    .navigator .bar {
        height: 1rem;
        width: 1rem;
    }
}
@media (max-width: 600px) {
    .container {
        height: 25rem;
    }

    .slider {
        height: 12rem;
    }

    .slider-text {
        height: 3rem;
    }
    .meme-description {
        font-size: 2rem;
    }

    .navigator .bar {
        height: 1rem;
        width: 1rem;
    }
}
@media (max-width: 360px) {
    .slider {
        height: 10rem;
    }
    .slider-text {
        height: 3rem;
    }
    .navigator .bar {
        height: 0.5rem;
        width: 0.5rem;
        margin-left: 0.5rem;
    }
}
